
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
      Ton inscription à bien été prise en compte!
    </p>
    <p>
      Pour accéder à ton compte, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur Eventbrite !
  </body>
</html>